body{
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

::selection{
    color: #fff;
    background: #000;
}

h1{
    text-align: center;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    margin-bottom: 30px;
    color: #333;
}

main{
    max-width: 1200px;
    margin: 40px auto;
    border-radius: 10px;
}

.hero{
    padding: 0 0 20px 0;
}

.hero .content{
    word-wrap: break-word;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px 0;
}

.hero .content img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 1px solid #000;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 1);
    object-fit: cover;
}

.hero .content .text-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content p{
    font-size: 1.2rem;
    max-width: 600px;
    text-align: center;
    line-height: 1.85;
    word-break: break-word; /* Break words if they are too long */
    overflow-wrap: break-word; /* Break words to prevent overflow */
    white-space: normal; /* Allow the text to wrap and break to the next line */
    
}

.readMore{
    margin-top: 30px;
}

.readMore .btn{
    padding: 20px 20px;
    font-size: 1rem;
    font-weight: 550;
    color: #000;
    background-color: transparent;
    border: 2.5px solid #000;
    border-radius: 3px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.readMore .btn:hover{
    background-color: #333;
    color: #fff;
    border: none;
}

@media (max-width: 1095px){
    .hero .content{
        flex-direction: column;
        text-align: center;
    }
    .hero .content img{
        margin: 50px;
    }
    .hero .content h1{
        margin: 10px;
    }
    .hero .content p{
        font-size: 1rem;
    }
}

.section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-bottom: 20px;
}

.section h2{
    text-align: left;
}

.details{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    margin-bottom: 20px;
}

.detail{
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 300px;
}

.detail .board{
    text-align: center;
}

.detail p{
    text-align: left;
    line-height: 1.85;
    color: #333;
}

.detail h2{
    margin-bottom: 25px;
    text-transform: capitalize;
}

.detail a{
    text-decoration: underline;
    color: #333;
}

.detail #board{
    font-weight: 500;
    font-size: 1.1rem;
}

.detail .additional{
    text-align: left;
    margin-top: 20px;
}

.detail ol,ul{
    padding: 0 0 0 20px;
    color: #333;
    line-height: 1.5;
    text-align: left;
}

@media screen and (max-width: 1095px) {
    .details{
        flex-direction: column;
        gap: 10px;
    }
    .detail{
        width: 80%;
        margin: 5px auto;
    }
}

.iframe-container{
    position: relative;
    width: 100%;
    height: 200px;
}

.iframe-container iframe{
    width: 100%;
    height: 100%;
    border: 1.5px solid #333;
    transition: filter 0.3s ease, pointer-events 0.3s ease;
    pointer-events: auto;
}

.iframe-container:hover iframe{
    filter: blur(4px);
    pointer-events: none;
}

.iframe-container .visit-link{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    padding: 10px 20px;
    background-color: transparent;
    color: #000;
    border: 2.5px solid #000;
    text-decoration: none;
    font-weight: bold;
    border-radius: 3px;
    transition: background-color 0.3s ease;
}

.visit-link:hover{
    background-color: #333;
    color: #fff;
    border: none;
}

.iframe-container:hover .visit-link{
    display: block;
}