body{
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

::selection{
    color: #fff;
    background: #000;
}

h1{
    text-align: center;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    margin-bottom: 30px;
    color: #333;
}

main{
    max-width: 1200px;
    margin: 40px auto;
    border-radius: 10px;
}

.hero{
    padding: 0 0 20px 0;
}

.hero .content{
    word-wrap: break-word;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px 0;
}

.hero .content img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 1px solid #000;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 1);
    object-fit: cover;
}

.hero .content .text-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content p{
    font-size: 1.2rem;
    max-width: 600px;
    text-align: center;
    line-height: 1.85;
}

.readMore{
    margin-top: 20px;
}

.readMore .btn{
    padding: 20px 20px;
    font-size: 1rem;
    font-weight: 550;
    color: #000;
    background-color: transparent;
    border: 2.5px solid #000;
    border-radius: 3px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.readMore .btn:hover{
    background-color: #333;
    color: #fff;
    border: none;
}

@media (max-width: 1095px){
    .hero .content{
        flex-direction: column;
        text-align: center;
    }
    h1{
        margin: 10px 0;
    }
    .hero .content p{
        font-size: 1rem;
    }
}

.edu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-bottom: 40px;
}

.details{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

.edu-detail{
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 310px;
    min-height: 250px;
}

.edu-detail .board{
    text-align: center;
}

.edu-detail p{
    text-align: left;
    line-height: 1.85;
}

.edu-detail h2{
    margin-bottom: 25px;
}

.edu-detail #board{
    font-weight: 500;
    font-size: 1.1rem;
}

.edu-detail .additional{
    text-align: left;
    margin-top: 20px;
}

.edu-detail .additional ol{
    padding: 0 0 0 20px;
}

@media screen and (max-width: 1095px) {
    .details{
        flex-direction: column;
    }
    .details{
        gap: 10px;
    }
    .edu-detail{
        width: 80%;
        margin: 5px auto;
    }
}