<link rel="stylesheet" href="../css for components/footer.css">
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <h4><img src="/images/logo2.png" alt="logo"></h4>
                <div class="social-links">
                    <a href="https://www.instagram.com/programmer.atharva" target="_blank" class="insta"><i class="fa fa-fw fa-instagram"></i></a>
                    <a href="https://www.linkedin.com/in/atharvarajsinha/" target="_blank" class="linkedin"><i class="fa fa-fw fa-linkedin"></i></a>
                    <a href="https://www.github.com/atharvarajsinha/" target="_blank" class="github"><i class="fa fa-fw fa-github"></i></a>
                </div>
            </div>
            <div class="footer-col">
                <h4>Quick Links</h4>
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="resume.html">Resume</a></li>
                    <li><a href="project.html">Projects</a></li>
                    <li><a href="experience.html">Experiences</a></li>
                    <li><a href="skills.html">Skills</a></li>
                    <li><a href="certificate.html">Certificates</a></li>
                    <li><a href="blogs.html">Blogs</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Contact Details</h4>
                <ul>
                    <li>Name: Atharva Raj Sinha</li>
                    <li>Mobile No.: 6395780245</li>
                    <li>Official Email: sinhaatharva@gmail.com</li>
                    <li>Alternative Email: ATHARVARAJSINHA.23011353@gehu.ac.in</li>
                </ul>
            </div>
        </div>
    </div>
</div>